<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buying_rate</key>
		<string>4.596262</string>
		<key>currency_code</key>
		<string>AUD</string>
		<key>median_rate</key>
		<string>4.610092</string>
		<key>selling_rate</key>
		<string>4.623922</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>4.853077</string>
		<key>currency_code</key>
		<string>CAD</string>
		<key>median_rate</key>
		<string>4.867680</string>
		<key>selling_rate</key>
		<string>4.882283</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>0.281631</string>
		<key>currency_code</key>
		<string>CZK</string>
		<key>median_rate</key>
		<string>0.282478</string>
		<key>selling_rate</key>
		<string>0.283325</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>1.009344</string>
		<key>currency_code</key>
		<string>DKK</string>
		<key>median_rate</key>
		<string>1.012381</string>
		<key>selling_rate</key>
		<string>1.015418</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>2.114922</string>
		<key>currency_code</key>
		<string>HUF</string>
		<key>median_rate</key>
		<string>2.121286</string>
		<key>selling_rate</key>
		<string>2.127650</string>
		<key>unit_value</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>6.162278</string>
		<key>currency_code</key>
		<string>JPY</string>
		<key>median_rate</key>
		<string>6.180820</string>
		<key>selling_rate</key>
		<string>6.199362</string>
		<key>unit_value</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>0.700714</string>
		<key>currency_code</key>
		<string>NOK</string>
		<key>median_rate</key>
		<string>0.702822</string>
		<key>selling_rate</key>
		<string>0.704930</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>0.722312</string>
		<key>currency_code</key>
		<string>SEK</string>
		<key>median_rate</key>
		<string>0.724485</string>
		<key>selling_rate</key>
		<string>0.726658</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>7.037325</string>
		<key>currency_code</key>
		<string>CHF</string>
		<key>median_rate</key>
		<string>7.058501</string>
		<key>selling_rate</key>
		<string>7.079677</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>8.280667</string>
		<key>currency_code</key>
		<string>GBP</string>
		<key>median_rate</key>
		<string>8.305584</string>
		<key>selling_rate</key>
		<string>8.330501</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>6.613600</string>
		<key>currency_code</key>
		<string>USD</string>
		<key>median_rate</key>
		<string>6.633500</string>
		<key>selling_rate</key>
		<string>6.653401</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>3.841361</string>
		<key>currency_code</key>
		<string>BAM</string>
		<key>median_rate</key>
		<string>3.852920</string>
		<key>selling_rate</key>
		<string>3.864479</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>7.513049</string>
		<key>currency_code</key>
		<string>EUR</string>
		<key>median_rate</key>
		<string>7.535656</string>
		<key>selling_rate</key>
		<string>7.558263</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>buying_rate</key>
		<string>1.674964</string>
		<key>currency_code</key>
		<string>PLN</string>
		<key>median_rate</key>
		<string>1.680004</string>
		<key>selling_rate</key>
		<string>1.685044</string>
		<key>unit_value</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
